.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: blue; */
}

.login > .form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.75); */
  border: 1px solid grey;
  background-color: whitesmoke;
  /* border-radius: 5px; */
  padding: 20px;
  width: 350px;
}

.login > .form > h1 {
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 30px;
  font-style: italic;
}

.login > .form > h2 {
  width: 80%;
  text-align: center;
  font-weight: 500;
  line-height: 20px;
  color: grey;
  margin-bottom: 18px;
}

.login > .form > .google__signup__button {
  /* background-color: rgb(0, 149, 246); */
  background-color: #2f4097;
  width: 80%;
  padding: 5px 20px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
}

.login > .form > .google__signup__button:hover {
  cursor: pointer;
}

.login > .form > .or {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.login > .form > .or > .first__line {
  flex: 1;
  height: 1px;
  background-color: grey;
}

.login > .form > .or > .second__line {
  flex: 1;
  height: 1px;
  background-color: grey;
}

.login > .form > .or > h2 {
  flex: 1;
  text-align: center;
  color: #2f4097;
}

.login > .form > input {
  margin-bottom: 10px;
  width: 80%;
  height: 35px;
  border-radius: 2px;
  padding-left: 10px;
  font-size: small;
  background-color: whitesmoke;
  border-width: 0.3px;
  border-color: grey;
}

.login > .form > .submit {
  padding: 0;
  background-color: #2f4097;
  color: white;
  border-color: none;
  width: 50%;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.login > .form > .submit:hover {
  cursor: pointer;
}
